body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

@keyframes dyinglight {
	15% {
		transform: scale(1.6);
	}

	50% {
		transform: rotate(-89deg);
	}

	100% {
		transform: rotate(-90deg);
	}
}

.dl {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
}

.dl__square {
	display: block;
	width: 50px;
	height: 50px;
	background: #4285F4;
}

.dl__container {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	transform-origin: 50% 50% 0;
	animation: dyinglight 1s ease infinite;
	backface-visibility: hidden;
}

.dl__corner--top:before,
.dl__corner--top:after,
.dl__corner--bottom:before,
.dl__corner--bottom:after {
	position: absolute;
	width: 17px;
	height: 17px;
	color: #4285F4;
	content: '';
}

.dl__corner--top:before {
	border-left: 1px solid;
	border-top: 1px solid;
	top: -6px;
	left: -6px;
}

.dl__corner--top:after {
	border-right: 1px solid;
	border-top: 1px solid;
	top: -6px;
	right: -6px;
}

.dl__corner--bottom:before {
	border-left: 1px solid;
	border-bottom: 1px solid;
	bottom: -6px;
	left: -6px;
}

.dl__corner--bottom:after {
	border-right: 1px solid;
	border-bottom: 1px solid;
	bottom: -6px;
	right: -6px;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.03);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;  
}

@keyframes ldio-krr67ftzakf-1 {
  0% { top: 18px; height: 64px }
  50% { top: 30px; height: 40px }
  100% { top: 30px; height: 40px }
}
@keyframes ldio-krr67ftzakf-2 {
  0% { top: 20.999999999999996px; height: 58.00000000000001px }
  50% { top: 30px; height: 40px }
  100% { top: 30px; height: 40px }
}
@keyframes ldio-krr67ftzakf-3 {
  0% { top: 24px; height: 52px }
  50% { top: 30px; height: 40px }
  100% { top: 30px; height: 40px }
}
.ldio-krr67ftzakf div { position: absolute; width: 13px }.ldio-krr67ftzakf div:nth-child(1) {
  left: 18.5px;
  background: #93dbe9;
  animation: ldio-krr67ftzakf-1 0.8474576271186439s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.1694915254237288s
}
.ldio-krr67ftzakf div:nth-child(2) {
  left: 43.5px;
  background: #689cc5;
  animation: ldio-krr67ftzakf-2 0.8474576271186439s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.0847457627118644s
}
.ldio-krr67ftzakf div:nth-child(3) {
  left: 68.5px;
  background: #5e6fa3;
  animation: ldio-krr67ftzakf-3 0.8474576271186439s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

.loadingio-spinner-pulse-kcbrhx7jx9 {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-krr67ftzakf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-krr67ftzakf div { box-sizing: content-box; }
/* generated by https://loading.io/ */